<div [formGroup]="formGroup">
  <mat-form-field id="{{this.itemId}}" appearance="standard" class="{{this.itemClass}}">
    <mat-label>{{ this.label }}</mat-label>
    <input matInput placeholder="Search" class="{{this.itemClass}}" formControlName="autocomplete"
           [matAutocomplete]="auto"
           (keyup)="onKeyUp($event)" id="autocomplete">
    <button *ngIf="selectedItem" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete class="{{this.itemClass}}" #auto="matAutocomplete" (optionSelected)="onSelected()"
                      [displayWith]="displayFn">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let item of filteredItems" [value]="item">
          <span>{{item.name}}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>
