<mat-card class="patient-details" *ngIf="isLoading">
  <mat-card-content>
    <div class="loading">
      <p>Loading. Please wait...</p>
      <mat-spinner></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="patient-details" *ngIf="!isLoading">
  <button mat-raised-button color="primary" id="btn-close" routerLink="/patients">Close</button>
  <button mat-raised-button color="accent" id="btn-edit" (click)="editDialog()">Edit patient</button>
  <mat-card-title>{{ patient.first_name }} {{ patient.name }}</mat-card-title>
  <mat-card-subtitle>{{ this.datePipe.transform(patient.date_of_birth, "yyyy/MM/dd") }}</mat-card-subtitle>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Overview">
        <div class="patient-overview-container">
          <div class="row">
            <div class="col-50">
              <table class="table-100">
                <thead>
                  <tr>
                    <th colspan="2">Common information</th>
                  </tr>
                </thead>
                <tr>
                  <td>Name:</td>
                  <td>{{ patient.first_name }} {{ patient.name }}</td>
                </tr>
                <tr>
                  <td>Gender:</td>
                  <td>{{ patient.gender }}</td>
                </tr>
                <tr>
                  <td>Birthday:</td>
                  <td>{{ this.datePipe.transform(patient.date_of_birth, "yyyy/MM/dd") }}</td>
                </tr>
                <tr>
                  <td>Age:</td>
                  <td>{{ patient.age }} {{ patient.ageType }}</td>
                </tr>
                <tr>
                  <td>Contact mobile:</td>
                  <td>{{ patient.mobile_number }}</td>
                </tr>
                <tr>
                  <td>Religion:</td>
                  <td>{{ patient.religion_name }}</td>
                </tr>
              </table>
            </div>
            <div class="col-50" style="margin-top: 35px;">
              <div class="row">
                <div class="col-50">
                  <div class="tile tile-grey">
                    <div class="tile-content" *ngIf="patient.last_deworming != ''">{{ this.datePipe.transform(patient.last_deworming, "yyyy/MM/dd") }}</div>
                    <div class="tile-content" *ngIf="!patient.last_deworming">none</div>
                    <div class="tile-title">Last deworming date</div>
                  </div>
                </div>
                <div class="col-50">
                  <div class="tile tile-grey">
                    <div class="tile-content" *ngIf="patient.last_physical_examination != ''">{{ this.datePipe.transform(patient.last_physical_examination, "yyyy/MM/dd") }}</div>
                    <div class="tile-content" *ngIf="!patient.last_physical_examination">none</div>
                    <div class="tile-title">Last physical examination</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <table class="table-100" style="padding-top: 40px; display: none">
              <thead>
              <tr>
                <th colspan="2">Known diseases</th>
              </tr>
              </thead>
              <tr>
                <td>
                  <ul>
                    <li><span class="text-red text-bold">Severe</span> Osteoporosis since 2001/12/05</li>
                    <li><span class="text-orange text-bold">Medium</span> Back pain since 2011/01/05</li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Medical history">
        <app-medical-history uuid="{{ patient.uuid }}"></app-medical-history>
      </mat-tab>
      <mat-tab label="Physical examination">
        <app-physical-history uuid="{{ patient.uuid }}"></app-physical-history>
      </mat-tab>
      <mat-tab label="Vaccination">
        <app-vaccination-history uuid="{{ patient.uuid }}"></app-vaccination-history>
      </mat-tab>
      <mat-tab label="Medication">
        <app-prescription-history uuid="{{ patient.uuid }}"></app-prescription-history>
      </mat-tab>
      <mat-tab label="Deworming history">
        <app-deworming-history uuid="{{ patient.uuid }}"></app-deworming-history>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">

  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
