@import '../../../variables.scss';

mat-card-content {
  min-height: 300px;
}

.loading {
  position: fixed;
  text-align: center;
  min-height: 500px;
  width: 100%;
  padding-top: 80px;

  mat-spinner {
    margin-top: 25px;
    margin-left: calc(50% - 50px)
  }
}

#btn-close, #btn-edit {
  float:right;
  margin-right: 5px;
}

.col-50 {
  width: 50%;
  float: left;
}

.table-100 {
  margin-top: 15px;
  width: 100%;

  th {
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }
}

.tile-grey {
  background-color: $color-grey;
  padding: 15px;
  margin: 15px;

  .tile-content {
    color: $color-primary;
    font-weight: bold;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 4px;
    text-align: right;
  }

  .tile-title {
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
  }
}
