.medical-history-form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.half-width-padding {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}
