<h2 mat-dialog-title>Medical history</h2>
<mat-dialog-content>
  <form class="medical-history-form" [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="standard" class="half-width-padding">
      <mat-label>Clinical status</mat-label>
      <mat-select formControlName="clinical_status" required>
        <mat-option *ngFor="let clinicalStatusItem of clinicalStatus" [value]="clinicalStatusItem.id">
          {{clinicalStatusItem.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard" class="half-width">
      <mat-label>Verification status</mat-label>
      <mat-select formControlName="verification_status" required>
        <mat-option *ngFor="let verificationStatusItem of verificationStatus" [value]="verificationStatusItem.id">
          {{verificationStatusItem.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard" class="half-width">
      <mat-label>Severity</mat-label>
      <mat-select formControlName="severity" required>
        <mat-option *ngFor="let severityItem of severity" [value]="severityItem.id">
          {{severityItem.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <utilities-select-remote label="Medical Diagnosis" formControlName="medical_diagnosis_code_id" name="medical_diagnosis_endpoint"
                             source="{{this.medicalDiagnosisApiEndpoint}}" itemClass="full-width"
                             requestHeaders="{{this.httpHeaders}}"
                             class="full-width"></utilities-select-remote>

    <mat-form-field id="onset_date" class="margin-right-5" appearance="standard">
      <mat-label>Onset Date</mat-label>
      <input matInput [matDatepicker]="onset_date" formControlName="onset_date" />
      <mat-hint>YYYY/MM/DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="onset_date"></mat-datepicker-toggle>
      <mat-datepicker #onset_date startView="multi-year"></mat-datepicker>
    </mat-form-field>
    <mat-form-field id="onset_age" class="half" appearance="standard">
      <mat-label>Onset age</mat-label>
      <input matInput placeholder="Onset age" value="" formControlName="onset_age">
    </mat-form-field>

    <mat-form-field id="abatement_date" class="margin-right-5" appearance="standard">
      <mat-label>Abatement Date</mat-label>
      <input matInput [matDatepicker]="abatement_date" formControlName="abatement_date" />
      <mat-hint>YYYY/MM/DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="abatement_date"></mat-datepicker-toggle>
      <mat-datepicker #abatement_date startView="multi-year"></mat-datepicker>
    </mat-form-field>
    <mat-form-field id="abatement_age" class="half" appearance="standard">
      <mat-label>Abatement age</mat-label>
      <input matInput placeholder="Abatement age" value="" formControlName="abatement_age">
    </mat-form-field>

    <mat-form-field id="note" class="full-width" appearance="standard">
      <mat-label>Note</mat-label>
      <input matInput placeholder="Note" value="" formControlName="note">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-container">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>
  </div>
</mat-dialog-actions>
