.deworming-form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.half-width-padding {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.width-25 {
  width: 25%;
  float: left;
}

.text-center {
  text-align: center;
}
