<h2 mat-dialog-title>Prescription</h2>
<mat-dialog-content>
  <form class="prescription-form" [formGroup]="form" (ngSubmit)="save()">


    <utilities-select-remote label="Medication" formControlName="medication_uuid" name="medication_uuid"
                             source="{{this.medicationApiEndpoint}}" itemClass="full-width"
                             requestHeaders="{{this.httpHeaders}}"
                             class="full-width"></utilities-select-remote>

    <mat-divider style="margin-top: 5px;"></mat-divider>

    <mat-form-field id="dose_quantity" class="full-width" appearance="standard">
      <mat-label>Information on dose quantity</mat-label>
      <input matInput placeholder="Information on dose quantity" value="" formControlName="dose_quantity">
    </mat-form-field>

    <div>
      <div class="width-25 text-center">
        <mat-slide-toggle formControlName="dose_morning" name="dose_morning" color="primary">Morning</mat-slide-toggle>
      </div>
      <div class="width-25 text-center">
        <mat-slide-toggle formControlName="dose_noon" name="dose_noon" color="primary">Noon</mat-slide-toggle>
      </div>
      <div class="width-25 text-center">
        <mat-slide-toggle formControlName="dose_evening" name="dose_evening" color="primary">Evening</mat-slide-toggle>
      </div>
      <div class="width-25 text-center">
        <mat-slide-toggle formControlName="dose_night" name="dose_night" color="primary">Night</mat-slide-toggle>
      </div>
    </div>

    <mat-form-field id="dose_start" class="half-width-padding" appearance="standard">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="start" formControlName="dose_start" />
      <mat-hint>YYYY/MM/DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>

    <mat-form-field id="dose_end" class="half-width" appearance="standard">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="end" formControlName="dose_end" />
      <mat-hint>YYYY/MM/DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>

    <mat-form-field id="interval" class="half-width-padding" appearance="standard">
      <mat-label>Interval in days during period</mat-label>
      <input matInput placeholder="Interval in days" value="" formControlName="interval">
    </mat-form-field>
    <mat-form-field id="max_dose_period" class="half-width" appearance="standard">
      <mat-label>Maximum dose to be taken</mat-label>
      <input matInput placeholder="Maximum dose information" value="" formControlName="max_dose_period">
    </mat-form-field>

    <mat-divider style="margin-top: 5px;"></mat-divider>

    <mat-form-field id="patient_instruction" class="full-width" appearance="standard">
      <mat-label>Patient instruction printed on receipt</mat-label>
      <input matInput placeholder="Patient instruction" value="" formControlName="patient_instruction">
    </mat-form-field>

    <mat-form-field id="comment" class="full-width" appearance="standard">
      <mat-label>Note</mat-label>
      <input matInput placeholder="Note" value="" formControlName="comment">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-container">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>
  </div>
</mat-dialog-actions>
