<h2 mat-dialog-title>Physical examination</h2>
<mat-dialog-content>
  <form class="physical-examiniation-form" [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field id="timestamp" class="margin-right-5" appearance="standard">
      <mat-label>Examination date</mat-label>
      <input matInput [matDatepicker]="timestamp" formControlName="timestamp" />
      <mat-hint>YYYY/MM/DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="timestamp"></mat-datepicker-toggle>
      <mat-datepicker #timestamp></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="standard" class="half-width-padding">
      <mat-label>General impression</mat-label>
      <mat-select formControlName="general_impression" required>
        <mat-option *ngFor="let generalImpressionItem of generalImpression" [value]="generalImpressionItem.id">
          {{generalImpressionItem.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider style="margin-top: 5px;"></mat-divider>

    <mat-form-field id="blood_pressure_systolic" class="width-25" appearance="standard">
      <mat-label>Blood pressure systolic</mat-label>
      <input matInput placeholder="120" value="" formControlName="blood_pressure_systolic">
    </mat-form-field>
    <mat-form-field id="blood_pressure_diastolic" class="width-25" appearance="standard">
      <mat-label>Blood pressure diastolic</mat-label>
      <input matInput placeholder="80" value="" formControlName="blood_pressure_diastolic">
    </mat-form-field>
    <mat-form-field id="heart_rate" class="width-25" appearance="standard">
      <mat-label>Pulse</mat-label>
      <input matInput placeholder="" value="" formControlName="heart_rate">
    </mat-form-field>
    <mat-form-field id="temperature" class="width-25" appearance="standard">
      <mat-label>Temperature (degree)</mat-label>
      <input matInput placeholder="" value="" formControlName="temperature">
    </mat-form-field>

    <mat-form-field id="weight" class="width-33" appearance="standard">
      <mat-label>Weight (kg)</mat-label>
      <input matInput placeholder="" value="" formControlName="weight">
    </mat-form-field>
    <mat-form-field id="height" class="width-33" appearance="standard">
      <mat-label>Height (cm)</mat-label>
      <input matInput placeholder="80" value="" formControlName="height">
    </mat-form-field>
    <mat-form-field id="muac" class="width-33" appearance="standard">
      <mat-label>Mid upper arm circumference (cm)</mat-label>
      <input matInput placeholder="" value="" formControlName="muac">
    </mat-form-field>

    <mat-divider style="margin-top: 5px;"></mat-divider>

    <mat-form-field id="skin_examination" class="full-width" appearance="standard">
      <mat-label>Skin examination</mat-label>
      <input matInput placeholder="" value="" formControlName="skin_examination">
    </mat-form-field>
    <mat-form-field id="details_ent" class="full-width" appearance="standard">
      <mat-label>Examination details on E.N.T.</mat-label>
      <input matInput placeholder="" value="" formControlName="details_ent">
    </mat-form-field>
    <mat-form-field id="details_eyes" class="full-width" appearance="standard">
      <mat-label>Examination details on eyes</mat-label>
      <input matInput placeholder="" value="" formControlName="details_eyes">
    </mat-form-field>
    <mat-form-field id="details_head" class="full-width" appearance="standard">
      <mat-label>Examination details on head and brain</mat-label>
      <input matInput placeholder="" value="" formControlName="details_head">
    </mat-form-field>
    <mat-form-field id="details_muscles_bones" class="full-width" appearance="standard">
      <mat-label>Examination details on muscles and bones</mat-label>
      <input matInput placeholder="" value="" formControlName="details_muscles_bones">
    </mat-form-field>
    <mat-form-field id="details_heart" class="full-width" appearance="standard">
      <mat-label>Examination details on heart</mat-label>
      <input matInput placeholder="" value="" formControlName="details_heart">
    </mat-form-field>
    <mat-form-field id="details_lung" class="full-width" appearance="standard">
      <mat-label>Examination details on lung</mat-label>
      <input matInput placeholder="" value="" formControlName="details_lung">
    </mat-form-field>
    <mat-form-field id="details_gastrointestinal" class="full-width" appearance="standard">
      <mat-label>Examination details on gastrointestinal</mat-label>
      <input matInput placeholder="" value="" formControlName="details_gastrointestinal">
    </mat-form-field>
    <mat-form-field id="details_urinary_tract" class="full-width" appearance="standard">
      <mat-label>Examination details on urinary tract</mat-label>
      <input matInput placeholder="" value="" formControlName="details_urinary_tract">
    </mat-form-field>
    <mat-form-field id="details_reproductive_system" class="full-width" appearance="standard">
      <mat-label>Examination details on reproductive system</mat-label>
      <input matInput placeholder="" value="" formControlName="details_reproductive_system">
    </mat-form-field>
    <mat-form-field id="details_other" class="full-width" appearance="standard">
      <mat-label>Other examination details</mat-label>
      <input matInput placeholder="" value="" formControlName="details_other">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-container">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>
  </div>
</mat-dialog-actions>
