.physical-examiniation-form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.half-width-padding {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.width-33 {
  width: calc(33.33% - 5px);
  margin-right: 5px;
}

.width-25 {
  width: calc(25% - 5px);
  margin-right: 5px;
}
