<div class="pysical-examination-container">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>Examination date</th>
      <td mat-cell *matCellDef="let element">{{ this.datePipe.transform(element.timestamp, "yyyy/MM/dd")}}</td>
    </ng-container>
    <ng-container matColumnDef="general_impression_string">
      <th mat-header-cell *matHeaderCellDef>General impression</th>
      <td mat-cell *matCellDef="let element">{{element.general_impression_string}}</td>
    </ng-container>
    <ng-container matColumnDef="user_name">
      <th mat-header-cell *matHeaderCellDef>Medical professional</th>
      <td mat-cell *matCellDef="let element">{{ element.user_name }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="actions">
        <button mat-icon-button aria-label="Edit record" (click)="editDialog(element.uuid)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"
                 area-label="Select page"></mat-paginator>
</div>

<div style="margin-top: 15px; text-align: right; width: 100%">
  <button mat-raised-button color="primary" id="btn-add" (click)="addDialog()">Add physical examination</button>
</div>
