<div class="">
  <mat-form-field appearance="standard" class="filter">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Enter any search value" #input>
  </mat-form-field>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{element.first_name}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="date_of_birth">
      <th mat-header-cell *matHeaderCellDef>Birthdate</th>
      <td mat-cell *matCellDef="let element">{{ this.datePipe.transform(element.date_of_birth, "yyyy/MM/dd")}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetails(row)"></tr>

  </table>
  <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"
                 area-label="Select page"></mat-paginator>
</div>
<div style="margin-top: 15px; text-align: right; width: 100%">
  <button mat-raised-button color="primary" id="btn-add" (click)="addDialog()">Add patient</button>
</div>
