<div class="login-container">
  <mat-card>
    <mat-card-content>
      <div style="text-align: center">
        <img src="/assets/header-login.png" alt="Healthcare for Change"/>
      </div>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field id="username" class="full-width" appearance="standard">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" value="" required formControlName="username">
        </mat-form-field>
        <mat-form-field id="password" class="full-width" appearance="standard">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="primary" (click)="login();" [disabled]="!loginForm.valid">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
