<h2 mat-dialog-title>Vaccination history</h2>
<mat-dialog-content>
  <form class="vaccination-history-form" [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field id="timestamp" class="margin-right-5" appearance="standard">
      <mat-label>Vaccination date</mat-label>
      <input matInput [matDatepicker]="timestamp" formControlName="timestamp" />
      <mat-hint>YYYY/MM/DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="timestamp"></mat-datepicker-toggle>
      <mat-datepicker #timestamp></mat-datepicker>
    </mat-form-field>

    <utilities-select-remote label="Vaccine" formControlName="vaccine_uuid" name="vaccine_uuid"
                             source="{{this.vaccineApiEndpoint}}" itemClass="full-width"
                             requestHeaders="{{this.httpHeaders}}"
                             class="full-width"></utilities-select-remote>

    <mat-form-field id="lot" class="full-width" appearance="standard">
      <mat-label>Lot reference</mat-label>
      <input matInput placeholder="Optional lot reference" value="" formControlName="lot">
    </mat-form-field>

    <mat-form-field id="comment" class="full-width" appearance="standard">
      <mat-label>Note</mat-label>
      <input matInput placeholder="Note" value="" formControlName="comment">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-container">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>
  </div>
</mat-dialog-actions>
