<div class="medical-history-container">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef>Last update</th>
      <td mat-cell *matCellDef="let element">{{ this.datePipe.transform(element.updated_at, "yyyy/MM/dd")}}</td>
    </ng-container>
    <ng-container matColumnDef="medical_diagnosis_description">
      <th mat-header-cell *matHeaderCellDef>Diagnosis</th>
      <td mat-cell *matCellDef="let element">{{element.medical_diagnosis_description}}</td>
    </ng-container>
    <ng-container matColumnDef="clinical_status_name">
      <th mat-header-cell *matHeaderCellDef>Clinical status</th>
      <td mat-cell *matCellDef="let element">{{ element.clinical_status_name }}</td>
    </ng-container>
    <ng-container matColumnDef="verification_status_name">
      <th mat-header-cell *matHeaderCellDef>Verification status</th>
      <td mat-cell *matCellDef="let element">{{ element.verification_status_name }}</td>
    </ng-container>
    <ng-container matColumnDef="severity_name">
      <th mat-header-cell *matHeaderCellDef>Verification status</th>
      <td mat-cell *matCellDef="let element">{{ element.severity_name }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="actions">
        <button mat-icon-button aria-label="Edit record" (click)="editDialog(element.uuid)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"
                 area-label="Select page"></mat-paginator>
</div>

<div style="margin-top: 15px; text-align: right; width: 100%">
  <button mat-raised-button color="primary" id="btn-add" (click)="addDialog()">Add medical history</button>
</div>
