<h2 mat-dialog-title>Deworming data</h2>
<mat-dialog-content>
  <form class="deworming-form" [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field id="timestamp" class="full-width" appearance="standard">
      <mat-label>Date of deworming</mat-label>
      <input matInput [matDatepicker]="timestamp" formControlName="timestamp"/>
      <mat-hint>YYYY/MM/DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="timestamp"></mat-datepicker-toggle>
      <mat-datepicker #timestamp startView="multi-year"></mat-datepicker>
    </mat-form-field>

    <utilities-select-remote label="Medication" formControlName="medication_id" name="medication_id"
                             source="{{this.medicationApiEndpoint}}" itemClass="full-width"
                             requestHeaders="{{this.httpHeaders}}"
                             class="full-width"></utilities-select-remote>

    <mat-form-field id="comment" class="full-width" appearance="standard">
      <mat-label>Comment</mat-label>
      <input matInput placeholder="Comment" value="" formControlName="comment">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-container">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>
  </div>
</mat-dialog-actions>
