<h2 mat-dialog-title>Patient data</h2>
<mat-dialog-content>
  <form class="patient-form" [formGroup]="patientForm" (ngSubmit)="save()">
    <div style="margin-top: 10px; margin-bottom: 10px;">
      <mat-radio-group id="gender" required formControlName="gender">
        <mat-radio-button value="m" style="margin-right: 20px;">male</mat-radio-button>
        <mat-radio-button value="f" style="margin-right: 20px;">female</mat-radio-button>
        <mat-radio-button value="d">divers</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field id="first_name" class="half-width-padding" appearance="standard">
      <mat-label>First name</mat-label>
      <input matInput placeholder="First name" value="" required formControlName="first_name">
    </mat-form-field>
    <mat-form-field id="name" class="half-width" appearance="standard">
      <mat-label>Family name</mat-label>
      <input matInput placeholder="Family name" value="" required formControlName="name">
    </mat-form-field>
    <mat-form-field id="date_of_birth" class="half-width-padding" appearance="standard">
      <mat-label>Birthday</mat-label>
      <input matInput [matDatepicker]="date_of_birth" formControlName="date_of_birth" />
      <mat-hint>{{ birthdayHint }}</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="date_of_birth"></mat-datepicker-toggle>
      <mat-datepicker #date_of_birth startView="multi-year"></mat-datepicker>
    </mat-form-field>
    <mat-form-field id="date_of_death" class=half-width appearance="standard">
      <mat-label>Day of death</mat-label>
      <input matInput [matDatepicker]="date_of_death" />
      <mat-hint>YYYY/MM/DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="date_of_death"></mat-datepicker-toggle>
      <mat-datepicker #date_of_death startView="multi-year"></mat-datepicker>
    </mat-form-field>
    <section class="half-width" style="margin-top: 10px; margin-bottom: 10px;">
      <mat-checkbox formControlName="unclear_birthdate" (change)="unclearBirthdayCheck($event)" [checked]="this.unclearBirthdayStatus">Unclear birthday</mat-checkbox>
    </section>
    <mat-form-field id="mobile_number" class="full-width" appearance="standard">
      <mat-label>Contact phone number</mat-label>
      <input matInput placeholder="Contact mobile number" value="" formControlName="mobile_number">
    </mat-form-field>
    <utilities-select-remote label="Religion" formControlName="religion_id" name="religion_id"
                             source="{{this.religionApiEndpoint}}" itemClass="full-width"
                             requestHeaders="{{this.httpHeaders}}"
                             class="full-width"></utilities-select-remote>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="button-container">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!patientForm.valid">Save</button>
    </div>
</mat-dialog-actions>
