<mat-toolbar *ngIf="isLoggedIn">
  <img src="/assets/logo-transparent-menu.png" alt="Healthcare for Change" height="64"/>
  <button mat-button routerLink="/dashboard">
    Home
  </button>
  <button mat-button routerLink="/patients">
    Patients
  </button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Example icon-button with a menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout {{userName}}</span>
    </button>
  </mat-menu>
</mat-toolbar>
