<div class="deworming-history-container">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ this.datePipe.transform(element.timestamp, "yyyy/MM/dd")}}</td>
    </ng-container>
    <ng-container matColumnDef="medication_name">
      <th mat-header-cell *matHeaderCellDef>Medication</th>
      <td mat-cell *matCellDef="let element">{{element.medication_name}}</td>
    </ng-container>
    <ng-container matColumnDef="user_name">
      <th mat-header-cell *matHeaderCellDef>Medical professional</th>
      <td mat-cell *matCellDef="let element">{{ element.user_name }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"
                 area-label="Select page"></mat-paginator>
</div>

<div style="margin-top: 15px; text-align: right; width: 100%">
  <button mat-raised-button color="primary" id="btn-add" (click)="addDialog()">Add deworming</button>
</div>
